extends layout

block content
	form( action="inserta", method="POST" ) 
		p Ingresa tus datos
		br
		p nombre
		input( type="text", id="user", name="user" )
		p Contrasenia
		input( type="password", id="pass", name="pass" )
		p Algo de ti, no mucho porfa c:
		input( type="text", id="pass", name="some" )
		input( type="submit", value="Inicia Dude!" )
